<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Anual</key>
	<string>AN</string>
	<key>Bimestral</key>
	<string>BI</string>
	<key>Cuatrimestral</key>
	<string>CU</string>
	<key>Mensual</key>
	<string>ME</string>
</dict>
</plist>
